// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dynamic{
	margin: 20px 20px 20px 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
	#feed{			
		float: left;
		width: 65%;
		border: solid 1px #C9C9C9;
		
		#top-bar{
			overflow: overlay;
			background-color:  #D3D3D3;
			
			#news-text{
				font-size: 30px;
			}
		}
	}
	
	#right-sidebar{
		float: right;
		width: 32%;
		border: solid 1px #C9C9C9;
	}
	
}

.btn .btn-large .btn-primary{
	display: inline;
	float: right; 
}



.float-left{
	float: left;
}

.float-right{
	float: left;
}

.inline{
	display: inline;
}

#post-bar{	
	padding: 5px; 
}

#profile{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #d1e6e1;
	background-color: #246d62;
	margin: 0 20px;
	padding: 10px 0;
	
	font-size: 90%; /*default*/
	.small{
		font-size: 75%;
	}
	.large{
		font-size: 175%;
	}
}

#search-form{
	height: 30px;
	margin-left: 10px;
}

#top-menu{
	display:block;
	background-color: #246d62;
	margin: 5px 20px 0 20px;
	font-family:"Lucida Console", monospace;	
	font-size: 150%;
}

#wooden-bar{
	display: block;	
	background-image: url('images/wood.png');
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e));
	padding:10px 5px;
	margin: 0 15px;
}

.ym-hlist{
	width: 100%;
	overflow: hidden;
	position: relative;
	
	ul{
		display: inline;
		float: left;
		width: 100%;
		
		li{
			display: inline;
			float: left;
			padding: 5px 40px;
			width: auto;
		}	
	}		
}
	
