li a{
	font-weight: bold;
	color: #7ea29d;
}

#name-logo{
	border-right: 1px solid #363636;
}



#top-menu{

	
	#list{
		margin: 0;
		overflow: overlay;
	
		li{
			display: inline;
			float: left;
			padding: 0px 70px 10px 10px;
		}
	}
}
