$("<%= escape_javascript(render(:file => 'item_responses/new.html.erb') %>")).insertAfter('#resp-here');
$('#new_item_response_link').hide();

$("#resp-here").html("<%= escape_javascript render( @item_response ) %>");

$("<%= render(:file => 'item_responses/new.html.erb' %>")).insertAfter('#resp-here')

$("<p>Hello</p>").insertAfter('#resp-here')


$("<div> <%= render(:file => 'item_responses/new.html.erb', locals: {item: @item}).inspect %> </div>").insertAfter('#resp-here') 
